* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "yuka";
    src: url("fonts/webfontkit-20230104-145734/yukarimobil-webfont.woff2") format("woff2"), url("fonts/webfontkit-20230104-145734/yukarimobil-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "open-sans-bold";
    src: url("fonts/webfontkit-20230104-145734/opensans-bold-webfont.woff2") format("woff2"), url("fonts/webfontkit-20230104-145734/opensans-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(34, 34, 36);
    display: flex;
    background-color: rgb(233, 239, 241);
}
div.image {
    position: relative;
    width: auto;
    height: 100vh;
}

.back-img {
    max-width: auto;
    height: 100vh;
    opacity: 0.8;
}

.logo {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 75px;
    background-color: rgb(1, 8, 14);
    opacity: 0.5;
    
}

.logo-1::before {
    position: absolute;
    font: 100px "yuka", Roboto, sans-serif;
    content: "Zack";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(233, 239, 241);
}

.credits{
    width: max-content;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(233, 239, 241);
    font: 12px "open-sans-bold", sans-serif;
}

.image a {
    font: 12px "open-sans-bold", sans-serif;
    color: rgb(233, 239, 241);
}

div.main {
    width: 100%;
}

form {
    width: 100%;
    height: auto;
}

.header {
    font-size: 20px;
    font-weight: normal;
    margin: 100px 100px 40px 40px;
}

fieldset {
    margin: 0px;
    padding: 20px 40px;
    min-height: 200px;
    border: none;
    background-color: white;
    box-shadow: 0px 3px 6px -2px rgb(197, 197, 197);
}
fieldset h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: normal;
}

button[type="submit"] {
    margin: 30px 0 0 40px;
    border: none;
    background-image: linear-gradient(rgb(127, 116, 228), rgb(64, 50, 199));
    /* background-color: rgb(64, 50, 199); */
    padding: 10px 30px;
    border-radius: 5px;
    color: aliceblue;
    font: 12px "open-sans-bold", sans-serif;
    box-shadow: ;
    box-shadow: 0px 3px 5px -2px rgb(116, 114, 138);
}

div.inputs {
    display: flex;
    flex-wrap: wrap;
}

label {
    display: block;
    font-size: 14px;
}

input {
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 3px 5px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 3px;
    font-size: 14px;
}